<!doctype html>

<html>
  <head>
    <title>Wake Up</title>
    <style type="text/css">
      body {
        font-family: Arial, sans-serif;
        margin: 0px;
        padding: 0px;
      }

      .centered-image {
        position: fixed;
        left: 50%;
        margin-left: -250px;
        margin-top: 20px;
      }

      .centered-text {
        text-align: center;
        margin-top: 20px;
        font-size: large;
      }
    </style>
  </head>

  <body>
    <div class="centered-image">
      <img
        src="/static/wakeup.png"
        alt="Wake Up Image"
        width="500"
        height="auto"
      />
    </div>

    <div class="centered-text">
      <p>Wake Up! {{ mac }}</p>
    </div>
  </body>
</html>
